body {
    background-color: black;
}

.jumbotron {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.733);
    color: white;
}

.display-6 {
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
}

.buttonContainer {
    margin: 20px;
    padding: 20px;
    
}

.button, .submit, .reset {
    width: 90%;
    cursor: pointer;
    margin: 5px;
    color: white;
    background-color: black;
    opacity: 0.9;
    font-family: 'Special Elite', cursive;
}

.button:hover, .submit:hover, .reset:hover{
    background-color: white;
    color: black;
}

.submit, .reset {
    width: 10%;
    opacity: 1;
}

.text {
    width: 30%;
}

img.gif {
    width: 190px;
    height: 120px;
    margin: 6px;
    cursor: pointer;
    filter: grayscale(100%);
  }

img.animate {
    width: 190px;
    height: 120px;
    margin: 6px;
    cursor: pointer;
}

  .slideshow
  {
      position: relative;
      width: 100%;
      height: 100%;
  }
  .slideshowimage 
  {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index:-1;
  }